body{
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}
#app, main{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#student_form{
    background-color: rgb(187, 128, 243);
    width: 30%;
    min-width: max-content;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5%;
    padding: 5px 0 15px 0px;
}
.black{
    background-color: black;
    color: white;
}
.white{
    background-color: white;
    color: black;
}
ul{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}